header {
    margin-bottom: 2rem;
}

footer {
    font-size: small;
}

#title {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#title_dropdown {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.value {
    font-weight: 700;
}

.label {
    font-size: small;
    font-style: normal;
    font-weight: 300;
    width: 8em;
    display: inline-block;
}

.label_header {
    width: 100%;
}

/* .label_user {
    width: 5em;
    display: inline-block;
}

.label_basic_auth {
    width: 8em;
    display: inline-block;
}

.label_body {
    width: 8em;
    display: inline-block;
}

.label_client {
    width: 8em;
    display: inline-block;
} */

.data_value
{
    margin-bottom: 0;
    font-size: 100%;
}

.info {
    font-style: italic;
}

.error {
    color: lightcoral;
}

.warning {
    color: darkorange;
}

.client_trusted {
    color: green;
}

.client_untrusted {
    color: red;
}

.subheader {
    margin-bottom: 0px;
}

.header_header {
    font-size: small;
}

pre, code {
    font-size: small;
}

h5 {
  margin-top: 20px;
}

td {
    padding: 0 var(--pico-spacing);
}