header {
    margin-bottom: 2rem;
}

footer {
    font-size: small;
}

#title {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#title_dropdown {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.user_header {
    font-size: small;
    margin-bottom: 0;
}


.header_header {
    font-size: small;
}

pre, code {
    font-size: small;
}

h5 {
  margin-top: 20px;
}

td {
    padding: 0 var(--pico-spacing);
}