{{- if eq .Values.ingress.type "httproute" -}}
{{-   $fullName := include "httpshow.fullname" . -}}
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ $fullName }}
  namespace: {{ $.Release.Namespace }}
  labels:
    {{- include "httpshow.labels" $ | nindent 4 }}
  annotations:
    {{- include "httpshow.annotations" $ | nindent 4 }}
    {{- with $.Values.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  parentRefs:
  {{- if contains "/" $.Values.ingress.httproute.gateway }}
    - name: {{ regexSplit "/" $.Values.ingress.httproute.gateway -1 | last }}
      namespace: {{ regexSplit "/" $.Values.ingress.httproute.gateway -1 | first }}
  {{- else }}
    - name: {{ $.Values.ingress.httproute.gateway }}
    {{- if ne $.Values.ingress.httproute.namespace "" }}
      namespace: {{ $.Values.ingress.httproute.namespace }}
    {{- end }}
  {{- end }}
    {{- if $.Values.ingress.httproute.sectionName }}
      sectionName: {{ $.Values.ingress.httproute.sectionName }}
    {{- end }}
    {{- if ne (int $.Values.ingress.httproute.port) 0 }}
      port: {{ $.Values.ingress.httproute.port }}
    {{- end }}
      group: gateway.networking.k8s.io
      kind: Gateway
  hostnames:
    - {{ $.Values.ingress.dns.hostname }}
  rules:
    - backendRefs:
        - name: {{ $fullName }}
          port:  {{ .Values.service.port }}
          weight: 1
          group: ''
          kind: Service
      matches:
        - path:
            value: "/"
            type: PathPrefix
      {{- if ne $.Values.ingress.timeout "" }}
      timeouts:
        backendRequest: {{ $.Values.ingress.timeout }}
      {{- end }}
{{- end -}}
